/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Orbitron", sans-serif;
  color: #fff;
  background-color: #000;
}

.head {
  background-color: transparent;
  margin: auto;
}

/* Typography */
h1,
h2,
h3 {
  text-transform: uppercase;
}

/* Layout */
header {
  padding: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 2rem;
  margin-right: auto;
  color: #fff;
  text-decoration: none;
  animation: glitch 2s infinite;
}

.nav-links a {
  margin-left: 50px;
  font-size: large;
  color: #fff;
  text-decoration: none;
  animation: slideIn 1s ease-in-out;
}
.nav-links a {
  position: relative;
  text-decoration: none;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px; /* Set underline height */
  background-color: #db3651; /* Set underline color */
  transition: width 0.3s ease; /* Animation transition */
}

.nav-links a:hover::after {
  width: 100%; /* Expand underline on hover */
}

.logo-image {
  height: 50px;
  width: 150px;
}

.hero {
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
}

.background-video video {
  display: none;
}

.hero-content {
  text-align: center;
  margin-top: 2%;
}

.hero-content h1 {
  font-size: 5rem;
}

.news-card {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(251, 162, 10);
  padding: 10px;
  animation: borderAnimation 3s ease-in-out infinite;
}

@keyframes borderAnimation {
  0% {
    border-color: rgb(251, 162, 10);
  }
  50% {
    border-color: rgb(251, 10, 10);
  }
  100% {
    border-color: rgb(251, 231, 10);
  }
}

.news-content {
  flex: 1;
}
.red-text {
  font-size: x-large;
  color: rgb(251, 162, 10);
}
.red {
  font-size: 150%;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.hero-content p2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
}
button {
  background-color: whitesmoke;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

button:hover {
  background-color: #e47424;
}

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10px;
}

.social-media a {
  display: inline-block;
  margin: 0 0.5rem;
}

.social-media img {
  width: 30px;
  height: 30px;
}

/* Animations and Effects */
@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em 0 0 rgba(0, 255, 0, 0.75), 0 0 0.05em rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em 0 0 rgba(0, 255, 0, 0.75), 0 0 0.05em rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
      -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
      -0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
      -0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
      -0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 0 0.05em rgba(0, 0, 255, 0.75);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.nav-links,
.hero {
  animation: glitch 2s infinite;
}

.hero-content,
.head,
.news-section,
.social-media {
  animation: fadeIn 2s ease-in-out;
}

@media (max-width: 600px) {
  /* Mobile-specific styles go here */
  header {
    padding: 1rem;
  }

  .logo a {
    font-size: 1.5rem;
  }

  .nav-links a {
    margin-left: 20px;
    font-size: medium;
  }

  .logo-image {
    height: 40px;
    width: 120px;
  }

  .hero {
    height: 60vh;
  }

  .hero-content h1 {
    font-size: 3rem;
    margin-top: 16%;
  }

  .hero-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .button {
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }

  .news-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-top: 10%;
  }

  .news-content {
    margin-top: 2px;
  }

  .red-text {
    font-size: large;
  }

  footer {
    padding: 0.8rem 10px;
    font-size: smaller;
  }

  .social-media img {
    width: 18px;
    height: 18px;
  }
}

/* event styling */
/* sty.css */

/* Additional styles for the Events section */
.background-vid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-image: url("bg2.jpg"); /* Replace 'your-image.jpg' with the path to your background image */
  background-size: cover; /* Adjusts the background image size to cover the entire container */
  background-position: center; /* Centers the background image within the container */
}

.background-vid video {
  display: none; /* Hide the video element */
}
.events-section {
  padding: 40px 20px;
  text-align: center;
  font-size: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: x-large;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}

.event-card {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.event-card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.7s, transform 0.7s;
}

.event-card.animate {
  opacity: 1;
  transform: translateY(0);
}

.event-logo {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.event-logo img {
  max-width: 80%;
  max-height: 80%;
}

.event-content {
  flex-grow: 1;
  padding: 20px;
}

.event-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.event-description {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 15px;
}

.know-more-btn {
  display: inline-block;
  background-color: #ff0037;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.know-more-btn:hover {
  background-color: #db3651;
}

@keyframes border-animation {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #db3651;
  }
  100% {
    border-color: transparent;
  }
}

.event-card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.7s, transform 0.7s;
  border: 2px solid transparent;
  border-radius: 8px;
}

.event-card.animate {
  opacity: 1;
  transform: translateY(0);
}

.event-card:hover {
  animation: border-animation 2s infinite;
}

.about {
  background-color: #1a1a1a;
  border-radius: 25px;
  padding: 3%;
}

.about-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .about {
    padding: 5%;
  }

  .about-title {
    font-size: 1rem;
  }
}
.app {
  display: inline-block;
  background-color: #db3651;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.app:hover {
  background-color: #f85671;
}

.app:active {
  background-color: #db3651;
}

/* Countdown Timer */
#countdown {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
  margin-top: 0.2rem;
  font-family: "Roboto Mono", monospace;
}

.countdown-item {
  background-color: #fee608;
  color: black;
  padding: 0.1rem 0.1rem;
  border-radius: 5px;
  margin: 0 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  flex: 1;
}

.countdown-item span {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

.countdown-item p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
